.carousel-item{
    height:500px;
}

.navbar-collapse{
    margin-inline-end: 320px;
}

.navbar{
    background-color: white;
}

.carousel-item img{
    margin-top: -200px;
}

.carousel-caption{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 60px;
    text-align: center;
}

.carousel-caption h1{
    font-family: 'Lemonada', cursive;
    margin-top: 100px;
    text-align: left;
}



.text1{
    margin-top: -400px;
    font-family: 'Dancing Script', cursive;
    margin-left: 50px;
    font-size: 80px;
     
}

.text2{
    
    font-family: 'Dancing Script', cursive;
    margin-left: 50px;
    font-size: 35px
    }

.btn-warning{
    margin-left: 500px;
}

/* .text{
    font-family: 'Dancing Script', cursive;
    margin-top: -800px;
    margin-left: 300px;
    color: black;
    font-size: 80px;
    
} */

